<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sqr</key>
		<string>nick zhang</string>
		<key>sxed</key>
		<string>100000</string>
		<key>sxsj</key>
		<string>2017-10-25</string>
		<key>spll</key>
		<string>4.9</string>
		<key>hth</key>
		<string>201700173</string>
		<key>htqx</key>
		<string>24</string>
		<key>sqzt</key>
		<string>待审批</string>
	</dict>
</array>
</plist>
